* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  height: 70vh;
  position: relative;
}

.main .box {
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.69;
  height: 70vh;
  width: 100%;
}

nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
}

nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  align-items: center;
  justify-content: center center;
  flex-direction: column;
  position: relative;
  z-index: 10;
  color: white;
  height: calc(100%-62px);
  display: flex;
  padding: 0 30px;
  gap: 23px;
}

.hero > :first-child {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.hero > :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.hero > :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.sepration {
  height: 7px;
  background-color: rgba(72, 70, 70, 0.537);
}

.btn {
  background-color: white;
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(230, 227, 227, 0);
}

.btn-red-sm {
  background-color: red;
}
.btn-red {
  background-color: red;
  padding: 3px 24px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid white;
}
.main input {
  padding: 7px 101px 8px 14px;
  font-weight: 900;
  border-radius: 4px;
  font-size: 12px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(230, 227, 227, 0.5);
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:1300px) {
  
    .first{
        flex-wrap: wrap;
    }
}

.secimg {
  position: relative;
}

.secimg img {
  position: relative;
  z-index: 10;
  width: 460px;
}
.secimg video {
  position: absolute;
      top: 51px;
    right: 0px;
    width: 460px;
  /* top: -2px;
    right: 90px;
    width: 281px;
    height: 231px; */
}
/* section .first{
    display: flex;
    flex-direction: column;
}
section .first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    

}

section .first > div :nth-child(2){
    font-size: 24px;


} */

.first div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}
.first div :nth-child(2) {
  font-size: 24px;
}
.faq h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}
.faq {
  background-color: black;
  color: white;
  padding: 34px;
}
.faqbox svg {
  filter: invert(1);
}
.faqbox:hover {
  background-color: gray;
  color: white;
}

.faqbox {
  display: flex;
  justify-content: space-between;
  background-color: rgba(74, 72, 72, 0.555);
  font-size: 24px;
  padding: 24px;
  width: 60vw;
  margin: 34px auto;
}
footer {
  max-width: 60vw;
  color: white;
  margin: auto;
  padding: 14px;
}
footer span{
    padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  padding: 14px;

}

.footer a {
 font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;

}

@media screen and (max-width:1300px) {
  



    
}